<div class="contact">
    <div class="contact--lockup">
        <div class="modal">
            <div class="modal--information">
                <p>Cebu, City, Philippines</p>
                <a href="yourexabyteservices@gmail.com">yourexabyteservices@gmail.com</a>
                <a href="tel:+148126287560">+639x xxxx xxx</a>
            </div>
            <ul class="modal--options">
                <li><a href="#0">More</a></li>
                <li><a href="#0">More</a></li>
                <li><a href="mailto:yourexabyteservices@gmail.com">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>