<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
    <a class="device-notification--logo" href="#0">
        <img src="assets/img/logo.png" alt="Global">
        <p>YourExabyteServices</p>
    </a>
    <p class="device-notification--message">Sorry for the inconvenience.YourExabyteServices is designed for web, find a
        larger screen. Thank you!</p>
</div>

<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <app-header></app-header>

                <app-sidenav></app-sidenav>

                <ul class="l-main-content main-content">

                    <li class="l-section section section--is-active">
                        <app-home></app-home>
                    </li>
                    <li class="l-section section">
                        <app-work></app-work>
                    </li>
                    <li class="l-section section">
                        <app-about></app-about>
                    </li>
                    <li class="l-section section">
                        <app-contact></app-contact>
                    </li>
                    <li class="l-section section">
                        <app-hire-us></app-hire-us>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav">
        <li class="is-active">Home</li>
        <li>Works</li>
        <li>About</li>
        <li>Contact</li>
        <li>Hire us</li>
    </ul>
</div>